body {
    margin: 0;
}
header h1 {
    margin: 0;
    /* optional noch zentrieren */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header {
    background-color: #111727;
    height: 10vh;
    margin: 0;
    top: 0;
}
#div_body {
    height: 90vh;
    display: flex;
    flex-direction: row;
}
#div_sidebar {
    background-color: #111727;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.btn:hover {
    background-color: #1b253f;
}
#div_content {
    padding: 1rem;
    width: 80%;
}